<!DOCTYPE html>
<html lang="en">

<head>
    <title>Melomaniac</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Main Style-->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Exo+2|Gloria+Hallelujah|Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Nunito|Play|Ubuntu|Varela+Round" rel="stylesheet">

</head>

<body>
    <div class="container">
      <div class="row">
        {{{body}}}
      </div>
    </div>
</body>

</html>
