<div class="jumbotron" id="header-photo">
    <div class="container">
        <h1 id = "logo">Melomaniac</h1>

    </div>
</div>

<div class="container" id = "text">
    <p>Hey, there! Welcome!</p>
    <p> Our app is created for all music lovers,and we know you're one of them. Due to this mp3, you will have an
        opportunity to listen your favourite music everywhere you want and share it with your friends.
        C'mon,music is waiting for you.</p>
    <p>You should just upload your tracks and enjoy!!!</p>
</div>



<footer>
    <div class="container foot">
        <p class="text-center"><strong>Authors</strong>: <a href ="https://www.facebook.com/nastya.kostiv">Anastasia Kostiv</a> &&
            <a href = "https://www.facebook.com/vitya.pyatak"> Victor Pyatak</a></p>
        <p class="text-center">&copy; All rights reserved</p>
    </div>
</footer>